{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "cypress/globals": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["cypress", "react-hooks"],
  "rules": {
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}